.margin-content{
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

body{
  height: 100%;
  background-image: url("/img/background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;

}
h1,h2,h3,p,label{
  color: white;
}

nav{
  font-size: 20px;
}

ul>li>a{
  color: white;
}
button>a{
  color: white;
}

span{
  color: #54F8F8;
}
th,td{
  color: white;
  font-size: 15px;
}
